@use 'lib/tailwind';
@use 'components/scrollbar';
@use 'components/buttons';
@use 'components/typography';

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  @apply select-none;
}

body {
  @apply font-lead text-slate-600;
}

.container {
  @apply max-w-7xl w-full px-4 mx-auto;
}

.animated {
  @apply transition-all duration-200;
}

.section {
  @apply w-full h-screen relative py-20;
  max-height: -webkit-fill-available;
}

.particles {
  @apply fixed top-0 left-0 right-0 bottom-0 z-0 w-full h-full;
}

.hero-img {
  @apply w-full max-w-[240px] md:max-w-none md:w-96;
  box-shadow: 16px 16px 0px 0px rgba(251,146,60,0.75);
  -webkit-box-shadow: 16px 16px 0px 0px rgba(251,146,60,0.75);
  -moz-box-shadow: 16px 16px 0px 0px rgba(251,146,60,0.75);
}

#flxx-layout {
  @apply flex flex-col h-screen items-stretch;

  .header {
    @apply fixed z-10 top-0 left-0 right-0;
  }

  .content {
    @apply flex-1 overflow-x-hidden overflow-y-auto;
  }
}

