@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  @apply select-none;
}

.container {
  @apply max-w-7xl w-full px-4 mx-auto;
}

.animated {
  @apply transition-all duration-200;
}

.section {
  @apply w-full h-screen relative py-20;
}

.hero {
  @apply fixed w-[480px] -right-[480px] transition-all duration-500;
}

#content {
  @apply transition-all duration-300;

  &[data-current="section-1"] {
    @apply bg-red-500;

    .hero {
      @apply right-[200px];
    }
  }

  &[data-current="section-2"] {
    @apply bg-orange-500;
  }

  &[data-current="section-3"] {
    @apply bg-blue-500;
  }
}