.spinner-container {
  @apply bg-white bg-opacity-20 fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center;

  .spinner {
    width: 36px;
    height: 36px;
    border: 3px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
    
      
}